<div class="header"></div>
  <input type="checkbox" class="openSidebarMenu" id="openSidebarMenu">
  <label for="openSidebarMenu" class="sidebarIconToggle">
    <div class="spinner diagonal part-1"></div>
    <div class="spinner horizontal"></div>
    <div class="spinner diagonal part-2"></div>
  </label>
  <div id="sidebarMenu">
    <ul class="sidebarMenuInner">
      <li>Menu Item List<span>shortcut</span></li>
      <li><%= link_to "Orders", "/admins/orders", rel: "noopener noreferrer" %></li>
      <li><%= link_to "Items", "/admins/items", rel: "noopener noreferrer" %></li>
      <li><%= link_to "Genres", "/admins/genres", rel: "noopener noreferrer" %></li>
      <li><%= link_to "Customers", "/admins/customers", rel: "noopener noreferrer" %></li>
      <li><a href="https://instagram.com" target="_blank">Instagram</a></li>
      <li><a href="https://twitter.com" target="_blank">Twitter</a></li>
      <li><a href="https://www.youtube.com" target="_blank">YouTube</a></li>
      <li><a href="https://manager.linestep.net/account/login" target="_blank">LINE</a></li>
    </ul>
  </div>

  </div>