<div class="thanks-main">
  <div class="thanks-message">
    <h2>お買い上げありがとうございます。</h2>
    <p>商品の到着まで今しばらくお待ちください。</p>
  </div>
  <div class="thanks-btn">
    <%= link_to root_path do %>
      <button type="button" class="btn btn-secondary">トップページに戻る</button>
    <% end %>
  </div>
</div>