<% genres .each do |genres| %>
      <tr>
        <td><%= genres.id %></td>
        <td><%= genres.name %></td>
        <td><%= link_to '編集する', edit_admins_genre_path(genres) %></td>
      </tr>
    <% end %>