// Place all the styles related to the customers/cart_items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.cart-destroy-btn {
  color: #3385D0;
  text-align: right;
}

.cart-destroy-btn:hover {
  text-decoration: none;
  color: #BE9B65;
}

.destroy-btn {
  color: #CC3422;
}

.destroy-btn:hover {
  text-decoration: none;
  color: #BE9B65;
}

.total-price {
  font-size: 25px;
}

.table .cart-td {
  vertical-align: middle;
}

.amount-change input {
  width: 45px;
  margin: 0 5px;
  padding: 5px;
  display: inline-flex；
}
