// Place all the styles related to the customers/customers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}


/* Fonts */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400);

/* fontawesome */
@import url(http://weloveiconfonts.com/api/?family=fontawesome);
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}



/* body */
body {
  background: #e9e9e9;
  color: #5e5e5e;
  font: 400 87.5%/1.5em 'Open Sans', sans-serif;
}

/* Form Layout */
.form-wrapper {
  background: #fafafa;
  margin: 3em auto;
  padding: 0 1em;
  max-width: 370px;
  height: 380px;
  border-radius: 30px;
}

h1 {
  text-align: center;
  padding: 1em 0;
}

form {
  padding: 0 1.5em;
}

.form-item {
  margin-bottom: 0.75em;
  width: 100%;
}

.form-item input {
  background: #fafafa;
  border: none;
  border-bottom: 2px solid #e9e9e9;
  color: #666;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  height: 50px;
  transition: border-color 0.3s;
  width: 100%;
}

.form-item input:focus {
  border-bottom: 2px solid #c0c0c0;
  outline: none;
}

.button-panel {
  width: 100%;
}

.button-panel .button {
  background: #f16272;
  border: none;
  color: #fff;
  cursor: pointer;
  height: 50px;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2em;
  letter-spacing: 0.05em;
  text-align: center;
  text-transform: uppercase;
  transition: background 0.3s ease-in-out;
  width: 100%；
}

.button:hover {
  background: #ee3e52;
}

.form-footer {
  font-size: 1em;
  padding: 2em 0;
  text-align: center;
}

.form-footer a {
  color: #8c8c8c;
  text-decoration: none;
  transition: border-color 0.3s;
}

.form-footer a:hover {
  border-bottom: 1px dotted #8c8c8c;
}

.login {
  margin-left: 40px;
}

.btn-log {
  margin-top: 30px;
}

.contents-area {
  text-align: center;
  width: 50%
}

h2 {
    font-weight: 600;
}

h3 {
  font-weight: 900;
}

.signup-btn-area {
    margin: 30px 0 ;
}

.footer-area {
  padding: 20px;
  border-top: 1px solid #D2B48C;
}

.sign-in-area {
  height: 400px;
}




.profile-body{
    display: flex;
    width: 800px;
    margin: 0 auto;
}



.leftNavigation{
    width: 250px;
    text-align: center;
    color: #fff;
}
.private-content{
    background-color: white;
    width: 700px;
    padding: 25px;
    border-radius: 10px;
    font-size: 20px;
}

.leftNavigation-list {
  width: 200px;
}

.private-content table {
  width: 500px;
}

.private-content th {
  width: 200px;
  padding: 20px;
}

.profile-title {
  padding-top: 0;
}

.order-list {
  display: block;
  padding: 10px;
  height: 60px;
  line-height: 40px;
  text-decoration: none;
  color: white;
  transition: 0.5s ;
  border-radius: 10px;
}

.order-list:hover {
  text-decoration: none!important;
  background-color: #BBBBBB;
}


.order-list i{
  text-align: left;
}


.leftNavigation ul {
  display: flex;
  flex-flow: column;
  justify-content: center-between;
}

.leftNavigation-list {
  display:flex;
  flex-flow: column;
}
.profile-content {
  background-color:#888;
  margin: 15px auto;
  width: 70%;
   border-radius: 10px;
}

.a-tag:hover {
  text-decoration: none!important;
}

.cart-icon {
  position: relative;
  right: 15px;
}

.tarck-i {
  position: relative;
  right: 10px;
}


/*.     leaveページ　　　*/

.leave-area {
  margin-top: 60px;
  text-align: center;
}

.leave-comment {
  margin: 30px 0 50px 0;
}

.leave-btn {
  display: flex;
  justify-content: center;
  justify-content:space-between;
  width: 20%;
  margin: 0 auto;
}
