// Place all the styles related to the customers/items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.main_imgBox {
  height: 600px;
  overflow: hidden;
  position: relative;
}

.main_img {
  z-index: 10;
  opacity: 0;
  width: 100%;
  height: 600px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  left: 0;
  top: 0;
  -webkit-animation: anime 36s 0s infinite;
  animation: anime 36s 0s infinite;
  }

.main_img:nth-of-type(2) {
  -webkit-animation-delay: 6s;
  animation-delay: 6s;
}

.main_img:nth-of-type(3) {
  -webkit-animation-delay: 12s;
  animation-delay: 12s; }

.main_img:nth-of-type(4) {
  -webkit-animation-delay: 18s;
  animation-delay: 18s; }

.main_img:nth-of-type(5) {
  -webkit-animation-delay: 24s;
  animation-delay: 24s; }

.main_img:nth-of-type(6) {
  -webkit-animation-delay: 30s;
  animation-delay: 30s; }

@keyframes anime {
  0% {
    opacity: 0;
    }
  8% {
    opacity: 1;
    }
  17% {
    opacity: 1;
    }
  25% {
    opacity: 0;
    transform: scale(1.2) ;
    z-index:9;
    }
  100% { opacity: 0 }
}

.about-image {
  height: 500px;
  padding-top: 80px;
  text-align: center;
  text-shadow: white 0 0 5px;
  background-image: image-url('top/meringue.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.link-style {
  color: #45381F;
}

.link-style:hover {
  text-decoration: none;
  color: #BE9B65;
}

.link-style2 {
  color: #BE9B65;
}

.link-style2:hover {
  text-decoration: none;
  color: #BE9B65;
}

.item-index-name {
  font-size: 18px;
  font-weight: 500;
}

.item-show-name {
  margin-top: 20px;
  font-size: 26px;
  font-weight: 500;
  width: 400px;
}

.item-show {
  display: flex;
  justify-content: center;
  margin: 30px auto
}

.item-detail form {
  padding: 0;
}

.sold-out-show {
  width: 400px;
  color: #E82C31;
}

.sold-out {
  color: #E82C31;
}

.return-index {
  color: #BE9B65;
}

.return-index:hover {
  text-decoration: none;
  color: #BE9B65;
}

.pagination {
  justify-content: center;
  margin-top: 50px;
}

.page > a {
  color: #BE9B65;
  padding:3px;
}

.next > a {
  color: #BE9B65;
  padding:3px;
}

.last > a {
  color: #BE9B65;
  padding:3px;
}

.first > a {
  color: #BE9B65;
  padding:3px;
}

.prev > a {
  color: #BE9B65;
  padding:3px;
}

.page > a:hover {
  color: #45381F;
  text-decoration: none;
}

.next > a:hover {
  color: #45381F;
  text-decoration: none;
}

.last > a:hover {
  color: #45381F;
  text-decoration: none;
}

.first > a:hover {
  color: #45381F;
  text-decoration: none;
}

.prev > a:hover {
  color: #45381F;
  text-decoration: none;
}

