// Place all the styles related to the customers/orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.line-image {
  text-align: center;
  margin: 50px;
}

.order-line {
  height: 90px;
  width: 400px;
  text-align: center;
}

/*. indexページ  */
.order-index h3 {
  text-align: center;
  margin-bottom: 20px;
  font-weight: 900;
}

.order-index {
  font-weight: 600;
  margin-bottom: 180px;
}


.index-box {
  background-color: white;
  width: 80%;
  margin: 0 auto;
  border-radius: 20px;
}

.index-box table{
  margin: 0 auto;
  padding: 30px;
  width: 1000px;
}

.index-box th {
  text-align: center;
  padding: 20px;
  font-weight: 800px;
}

.index-box td {
  padding: 10px;
}


.index-border  {
  border-top: 1px solid black;
}

.index-border a {
  width: 100px;
}


/*      showページ　　   */

.order-show-title {
  text-align: center;
  font-weight: 900;
  margin-bottom: 20px;
}


.order-contents {
  display: flex;
  justify-content: center;
  width: 70%;
  margin: 0 auto;
  background-color: white;
  border-radius: 20px;
  font-weight: 600;
}

.order-contents h5 {
  font-weight: 900;
  font-size: 1.7rem;
  text-align: center;
  border-bottom: 2px solid black;
  width: 240px;
  margin: 0 auto;
  margin-bottom: 20px;
}


.left-side,
.right-side{
  margin: 50px 50px 50px 10px;
}
/*　newページ    */




.frame {
  font-size: 20px;
}

.frame h3 {
  text-align: center;
  margin-bottom: 20px;
  font-weight: 900;
}

.frame h5 {
  font-weight: 900;
}

.main-contents {
  width: 800px;
  margin: 0 auto;
  background-color: white;
  padding-top: 30px;
  border-radius: 20px;
}

.frame input {
  width: 40px;
}

.address-form {
  height: 500px;
}


.address-form li{
  margin-bottom: 30px;
}


.my-address {
  width: 700px;
  margin-left: 40px;
}

.address-btn select {
  width: 700px;
  height: 35px;
  margin-left: 40px;
  border-radius: 10px;
}

.another-address {
  width: 700px;
  margin-left: 30px;
}

.another-address th {
  padding-bottom: 0;
  width: 270px;
}

.another-address td {
  padding: 0;
}


.another-address input {
  height: 30px;
  width: 200px;
  background-color: white;
  border: 2px solid gray;
}

.another-address-address input {
  width: 430px;
  border: 2px solid gray;
}

.check-btn-area {
  width: 700px;
  height: 80px;
}

.check-btn-area input {
  width: 200px;
}

.check-btn {
  margin: 0 auto;
  width: 200px;
}

.radio-btn input {
  transform: scale(1.5);
  border: 2px solid gray;
}

/*.logページ     */
.order-contents {
  width: 80%;
}

.order img{
  margin-right: 10px;
  border-radius: 40px;
}

.log-btn {
  margin: 0 auto;
}
.log-btn input {
  width: 300px;
  position: relative;
  top: 20px;
  left: 10px;
}

 .order table {
   width: 500px;
 }

.order th,
.order td {
  padding: 5px;
}

.order th {
  text-align: center;
}

.info table {
  margin: 0 auto;
}

.info th{
  width: 100px;
}

.info th,
.info td {
  padding: 7px;
}

.info td {
  width: 150px;
}

.cost {
  margin-bottom: 40px;
}

.cost table {
  margin: 0 auto;
}

.cost th,
.cost td {
  padding: 10px;
}

.cost td {
  text-align: center;
}


/*.   thanksページ　　　　*/
.thanks-main {
  height: 550px;
  text-align: center;
  margin-top: 100px;
}