<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-9 col-lg-6 px-5 px-sm-0 mx-auto">
      <h2>商品新規登録</h2>
      <%= render 'layouts/errors', obj: @item %>
      <%= form_with model: @item, url: admins_items_path, local:true do |f| %>
        <%= render 'form', f: f %>
        <div class="form-group row justify-content-center mt-3">
          <%= f.submit "新規登録", class: 'btn btn-success' %>
        </div>
      <% end %>
    </div>
  </div>
</div>