<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <h3>商品詳細</h3>
      <div class="item-detail">
        <table class="table">
          <tbody>
            <tr><th>商品名</th><td>ショートケーキ</td></tr>
            <tr><th>商品説明</th><td></td></tr>
            <tr><th>ジャンル</th><td></td></tr>
            <tr><th>税込価格(税抜価格)</th><td></td></tr>
            <tr><th>販売ステータス</th><td></td></tr>
          </tbody>
        </table>
        <%= link_to "編集する", root_path, class: "btn btn-success" %>
      </div>
    </div>
  </div>
</div>