<nav>
  <ul class="menu-bar">
    <li class="nav-list-item">ケーキ</li>
    <li class="nav-list-item">ホールケーキ</li>
    <li class="nav-list-item">焼き菓子</li>
    <li class="nav-list-item">プリン</li>
    <li class="nav-list-item">キャンディ</li>
  </ul>
</nav>