<div class='container px-5 px-sm-0'>
  <div class='row'>
    <div class='col-md-12 mx-auto'>
      <div class="about-image">
        <h2 class="text-center">About</h2><br><br>
        <p>ながのCAKEは全国発送可能なケーキ屋さんです。<br><br>
        お子様からお年寄りの方までお召し上がりいただけるよう、<br><br>
        様々なバリエーションをご用意しております。<br><br>
        また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。<br><br>
        ぜひご注文ください。
        </p>
      </div>
    </div>
  </div>
</div>