<div class='container'>
  <div class='row'>
    <div class='col-md-1'></div>
    <div class='col-md-10'>
      <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
      <script type="text/javascript"></script>
      <div id="photo">
        <img src="assets/top_cheesecake.jpg" height="500" alt="">
        <img src="assets/top_mountain.jpg" height="500" alt="">
        <img src="assets/top_strawberrycake.jpg" height="500" alt="">
        <img src="assets/top.jpeg" height="500" alt="">
      </div>
      <div class="text-center mt-3">
        ようこそ、ながのCAKEへ！<br>
        このサイトは、ケーキ販売のECサイトになります。<br>
        会員でない方も商品の閲覧はできますが、<br>
        購入には会員登録が必要になります。
      </div>
      <div>
        <h3 class="mt-5">新着商品</h3>
        <div class="item-index d-flex flex-wrap">
          <% @items.last(4).reverse_each do |item| %>
            <div class="item-box mx-2">
              <%= attachment_image_tag item, :image, size:"200x160" %><br>
              <%= link_to "#{item.name}", customers_item_path(item) %><br>
              ￥<%= item.taxin_price.to_s(:delimited) %>
            </div>
          <% end %>
        </div>
        <p class="text-right"><%= link_to "全ての商品を見る", customers_items_path %></p>
      </div>
    </div>
    <div class='col-md-1'></div>
  </div>
</div>