<div class='container px-5 px-sm-0'>
  <div class='row'>
    <div class='col-md-3'>
      <%= render 'sidebar' %>
    </div>

    <div class='col-md-9'>
      <div class="top-image text-center text-light">
        ようこそ、ながのCAKEへ！<br>
        このサイトは、ケーキ販売のECサイトになります。<br>
        会員でない方も商品の閲覧はできますが、<br>
        購入には会員登録が必要になります。
      </div>
      <div class="new_items">
        <h3>新着商品</h3>

      </div>


    </div>
  </div>
</div>