<nav>
  <ul class="sidebar">
    <lh>ジャンル検索</lh>
    <li class="nav-list-item">ケーキ</li>
    <li class="nav-list-item">焼き菓子</li>
    <li class="nav-list-item">プリン</li>
    <li class="nav-list-item">キャンディ</li>
  </ul>
</nav>