<div class='container px-5 px-sm-0'>
  <div class='row'>
    <div class='col-md-3'>
      <%= render 'sidebar' %>
    </div>
    <div class='col-md-9'>
      <h3>商品一覧（全x件）</h3>
      <div class="item-index">
        <div class="item-box">
          <p>写真１の説明</p>
        </div>
        <div class="item-box">
          <p>写真2の説明</p>
        </div>
        <div class="item-box">
          <p>写真3の説明</p>
        </div>
      </div>
    </div>
  </div>
</div>