<div class= "index-infomation-area">
  <h3 class= "text-center">お問い合わせ一覧</h3>
  <div class="index-index">
    <table>
      <tr>
        <th style="width:15%"></th>
        <th style="width:25%">問い合わせ日時</th>
        <th style="width:20%">名前</th>
        <th style="width:30%">問い合わせカテゴリー</th>
        <th style="width:10%"></th>
      </tr>
      <%= render "infomations/index",infomations: @infomations %>
      <%= paginate @infomations %>
    </table>
  </div>
</div>