<div class= "thanks-area">
  <div class= "thanks-message-area">
    <h3>お問い合わせありがとうございましたとうございました</h3>
    <p>確認次第ご回答させていただきますので、今しばらくお待ちください。</p>
  </div>
  <div class= "thanks-btn-area">
    <div class= "thanks-btn">
      <%= link_to root_path do %>
        <button type="button" class="btn btn-secondary">トップページに戻る</button>
      <% end %>
    </div>
  </div>
</div>