<%= render 'admins/admin_sidebar' %>
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">

<table class='table'>
  <thead>
    <tr>
      <th>名前</th>
      <th>最終ステータス</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @orders.each do |orders| %>
      <tr>
        <td><%= orders.created_at %></td>
        <td><%= orders.status %></td>
        <td><%= link_to 'Show', admins_order_path(@orders), class: "user_#{orders.id}" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

    </div>
  </div>
</div>