<div class= "text-center" style="color: red;" >
  <% if obj.errors.any? %>
    <b><%= obj.errors.count %>件のエラーが発生しました</b>
    <% obj.errors.full_messages.each do |message| %>
      <ul class="m-0"><li><%= message %></li></ul>
    <% end %>
  <% end %>
</div>