<footer>
  <nav class="navbar-expand-lg">
  <div class='container mt-6'>
    <div class='row'>
        <p class='col-md-6 text-light'>
          CopyRight Infratop.inc
        </p>

        <div class='col-md-6 text-light'>
          <%= link_to '管理ページ', new_admin_session_path ,class: 'fas fa-sign-in-alt nav-link text-light'%>

          </nav>
        </div>


    </div>
  </div>
  </nav>

</footer>