<footer>
  <nav class="navbar-expand-lg bg-success">
  <div class='container mt-6'>
    <div class='row'>

        <h2 class='col-md-6 text-light'>
          CopyRight Infratop.inc
        </h2>
        
        <div class='col-md-6 text-light'>
              <div class="nav-list-item">管理ページ</div>
          </nav>
        </div>
      

    </div>
  </div>
  </nav>

</footer>