<footer>
  <div class='container'>
    <div class='row'>
      <div class="col-12 mx-auto my-3">
        <div class="d-flex justify-content-around bd-highlight">
          <div class="text-light">
            <%= link_to "企業情報", about_path, class:"text-light" %> ｜ <%= link_to "お問い合わせ", new_infomation_path, class:"text-light" %>
          </div>
          <div class="text-light">
            © 2021 ながのCAKE
          </div>
          <div>
            <% if admin_signed_in? %>
              <%= link_to '管理者ページ', admins_orders_path, class: 'text-light'%>
            <% else %>
              <%= link_to '管理者ページ', new_admin_session_path, class: 'text-light'%>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>